.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}
.sidebar {
    width: 20%;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}
.sidebar a {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}
.sidebar a:hover {
    background-color: #0056b3;
}
.main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
.content-box{
    display: flex;
    gap: 20px;

}
.code-box {
    width: 90%;
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 10px;
    white-space: pre-wrap;
    font-family: monospace;
}